
img {
	height: 300px; 
    object-fit: cover;
	}


	.slider {
		min-width: cover;
	}

	.full-width{
		max-width:100%;
		margin: 0 auto;
		position: relative;
	}

	.full-width-content{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}
		
	.card-container {
		margin-top: 500px;
	}