body {
	background-color: #e0f2f1;
}


.materialboxed {
	height: 300px; 
    object-fit: cover;
	}

	.slider {
		min-width: cover;
		z-index: -999;
	}

	.full-width{
		max-width:100%;
		margin: 0 auto;
		position: relative;
	}

	.full-width-content{
		  position: absolute;
		  top: 29%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}
		
	.card-container {
		margin-top: 50px;
	}

	.searchbar {
		margin-top: 330px;
		
	}


	.wrapper {
		background-color: #00695c;
		height: 200px;
		width: 50%;
		z-index: -1;
		border-radius: 20px;
		justify-content: center;
		margin-left: 25%;
	}


/* Position the image container (needed to position the left and right arrows) */
.imagecontainer {
	position: relative;
	height: 400px;
	
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Six columns side by side */
  .column {
	float: left;
	width: 16.66%;
  }
  

 .slideimg {
	 width: 100% !important;
	 height: 500px;
	 object-fit: contain;
	 display: flex;
	 justify-content: center;
 }