{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align text-darken-4">
        {{ username }}'s Profile
      </h3>
    </div>  
  </div>
</div>

<div class="col s12 m12 l12">
  <h4> My Properties </h4>
  {% for property in my_properties %}
<div class="card large">
<div class="card-image">
<img src="{{ property.img_url[0] }}" alt="">
</div>
<div class="card-content">
  <p><strong>£{{ property.price }}</strong></p>
  <p>{{ property.description }}</p>
</div>
<div class="card-action">
  <a href="#">More Info</a>
</div>
</div>
</div>
{% endfor %}
</div>

{% endblock %}
