{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align text-darken-4">
        {{ username }}'s Profile
      </h3>
    </div>  
  </div>
</div>

<div class="col s12 m12 l12">
  <h4> My Properties </h4>
  {% for property in my_properties %}
<div class="card large">
  <div class="col s3">

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>Options</div>
      <div class="collapsible-body"><span><a href="{{ url_for('edit_property', property_id=property._id) }}" class="waves-effect waves-light btn-small">Edit</a>
        <a href="{{ url_for('delete_property', property_id=property._id) }}" class="waves-effect waves-light btn-small">Delete</a>
        <a class="waves-effect waves-light btn-small">Done</a></span></div>
    </li>
  </div>
<div class="card-image">
<img src="{{ property.img_url[0] }}" alt="">
</div>
<div class="card-content">
  <p><strong>£{{ property.price }}</strong></p>
  <p>{{ property.description }}</p>
</div>
<div class="card-action">
  <a href="#">More Info</a>
</div>
</div>
</div>
{% endfor %}
</div>

{% endblock %}
