{% extends "base.html" %} {% block content %}
<br />

<div class="slider">
  <ul class="slides">
    {% for feature in featured %} {% if feature.featured %}
    <li>
      <img class="materialboxed" src="{{ feature.img_url[0] }}">
      <!-- random image -->
      <div class="caption center-align">
        <h3>{{ feature.property_type }} property in {{ feature.city }}</h3>
        <h5 class="light grey-text text-lighten-3">
          {{ feature.description }}
        </h5>
        <h5 class="light grey-text text-lighten-3">£{{ feature.price }}</h5>
      </div>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
</div>

<!-- search bar -->
<div class="row card-">
    <form action="{{ url_for('search', types=types) }}" method="POST" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <span class="material-icons">search</span>
                <input type="text" name="query" id="query" class="validate">
                <label for="query">Search Location</label>
            </div>

            <div class="input-field col s12">
                <select name="propertytype" id="propertytype">
                  <option value="" disabled selected>Choose your option</option>
                  {% for type in types %}
                  <option value="{{ type.property_type }}">{{ type.property_type }}</option>
                  {% endfor %}
                </select>
                <label for="propertytype">Property Type</label>
              </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_properties') }}" class="btn">Reset</a>
                <button type="submit" class="btn">
                    <span class="material-icons left">search</span>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- main property section -->
<div class="container">
  
  <div class="row card-container">
    {% for property in properties %}
<div class="col s12 m6 l6">
    
	<div class="card large">
	<div class="card-image">
	<img src="{{ property.img_url[0] }}" alt="">
	</div>
	<div class="card-content">
		<p><strong>£{{ property.price }}</strong></p>
		<p>{{ property.description }}</p>
	</div>
	<div class="card-action">
		<a href="{{ url_for('property_detail', property_id=property._id) }}">More Info</a>
   
	</div>
	</div>
	</div>
  {% endfor %}
</div>

</div>
  
</div>


{% endblock %}
